/* */
@font-face {
  font-family: 'mockicon';
  src: url('//at.alicdn.com/t/font_1449678548_3477728.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1449678548_3477728.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1449678548_3477728.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1449678548_3477728.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1449678548_3477728.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.mockicon {
  font-family: "mockicon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  display: inline-block;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
html body {
  margin: 0;
  font-size: 12px;
  font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Georgia, "Times New Roman", Arial, sans-serif;
  background-color: #fff;
}
body a {
  color: #339966;
}
body a:hover {
  color: #339966;
}
.container {
  position: relative;
}
.bg-mock {
  background-color: #339966;
  background-image: url(../img/cell.png);
  color: white;
}
.hero {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #339966;
  color: white;
}
.hero .nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.hero .nav a {
  font-size: 16px;
  display: inline-block;
  color: white;
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.hero .nav a:hover {
  color: white;
}
.hero .nav a:last-child {
  border-right: none;
}
.hero .logo {
  font-size: 200px;
  color: #339966;
  cursor: default;
  display: none;
}
.hero .name {
  font-size: 80px;
  line-height: 1;
}
.hero .desc {
  font-size: 32px;
}
.hero .gogogo a.btn {
  color: #339966;
  background-color: white;
  width: 100px;
  padding: 10px 14px;
  font-size: 20px;
  height: auto;
}
.down {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  margin-top: -40px;
  color: #CCC;
  cursor: default;
}
.virtue,
.annoyance {
  padding: 100px 60px 60px 60px;
}
.virtue .item,
.annoyance .item {
  padding-right: 40px;
}
.virtue .item .media-left,
.annoyance .item .media-left {
  font-size: 32px;
  color: #999;
}
.virtue .item .media-body .item-header,
.annoyance .item .media-body .item-header {
  font-size: 20px;
  margin-bottom: 6px;
}
.virtue .item .media-body .item-desc,
.annoyance .item .media-body .item-desc {
  font-size: 14px;
  color: #999;
}
.virtue {
  background-color: #FAFAFA;
}
.annoyance .ican {
  font-size: 32px;
  text-align: center;
}
.annoyance ul {
  margin: 0 auto 40px auto;
  width: 380px;
  font-size: 20px;
  line-height: 3;
}
.download,
.install {
  text-align: center;
}
.download .title,
.install .title {
  margin-top: 60px;
  margin-bottom: 40px;
}
.download .item,
.install .item {
  position: relative;
  display: block;
  border: none;
  padding: 18px 40px;
  border-radius: 6px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  font-size: 13px;
  width: 100%;
}
.download a.item {
  color: #339966;
}
.download a.item:hover {
  color: white;
  background-color: #339966;
  background-image: url(cell.png);
}
.download a.item:hover:after {
  font-family: 'mockicon';
  content: '\e604';
  font-size: 26px;
  position: absolute;
  right: 16px;
  top: 14px;
  line-height: 1;
}
.install a.item {
  color: #333;
}
.install a.item:hover {
  color: white;
  background-color: #339966;
  background-image: url(cell.png);
}
.install a.item:hover:after {
  font-family: 'mockicon';
  content: '\e605';
  font-size: 26px;
  position: absolute;
  right: 20px;
  line-height: 1;
  top: 14px;
}
.thx {
  text-align: center;
  font-size: 14px;
  padding: 100px 60px 60px 60px;
}
/* examples.html */
.examples-nav {
  text-align: right;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
}
.examples-nav a {
  font-size: 16px;
  display: inline-block;
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.examples-nav a:last-child {
  border-right: none;
}
.definition ul.catalog {
  position: relative;
  list-style-type: none;
  padding-left: 16px;
}
.definition ul.catalog li {
  font-size: 14px;
  position: relative;
  margin-bottom: 10px;
}
.definition ul.catalog li:before {
  content: "•";
  color: #999;
  position: absolute;
  left: -16px;
}
.definition ul.catalog li a {
  margin-right: 5px;
}
.definition code {
  padding: 8px;
  font-size: 12px;
}
.definition .result,
.definition .code {
  position: relative;
  border-radius: 6px;
  border: none;
}
.definition .result .badge,
.definition .code .badge {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 6px 0 6px;
  padding: 5px 6px;
  font-weight: normal;
  color: #999;
  background-color: #E6E6E6;
  display: inline-block;
  width: 120px;
  font-size: 10px;
}
.definition .result pre,
.definition .code pre {
  padding: 18px;
  border-radius: 6px;
  border: none;
  background: #F5F5F5;
}
.definition .result pre code,
.definition .code pre code {
  padding: 0;
  display: block;
  background: #F5F5F5;
}
.definition .result .mockicon.rerun,
.definition .code .mockicon.rerun {
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: .3;
  color: #339966;
}
.definition .result .mockicon.rerun:after,
.definition .code .mockicon.rerun:after {
  font-family: 'mockicon';
  content: '\e606';
  font-size: 20px;
  line-height: 1;
}
.definition .result:hover .mockicon.rerun,
.definition .code:hover .mockicon.rerun {
  opacity: 1;
}
.definition .code:after {
  content: '=>';
  position: absolute;
  top: 50%;
  right: -25px;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #999;
  margin-top: -10px;
}
.definition h1,
.definition h2,
.definition h3,
.definition h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.definition .code pre,
.definition .code pre code,
.definition .result pre,
.definition .result pre code {
  height: 100%;
}
/* hero */
