body {
    overflow: hidden;
}

.CodeMirror {
    height: 100%;
    font-size: 14px;
}

.content {
    position: relative;
    padding: 0px 20px 0px 20px;
    transition: opacity .4s;
    -moz-transition: opacity .4s;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -webkit-transform: translateZ(0);
    opacity: 0;
}

.content .window {
    width: 47%;
    color: #7e7e7e;
    padding: 10px;
    border: 1px solid #c0c0c0;
    outline: none;
}

.content .handler {
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}